
#headerDiv{
    display: flex;
/**    border: slategray;
    border-style:solid;
**/
}
#navBarLeft{
    position: relative;
    justify-content: flex-start;
    font-size: 75%;
    width: 50%;  
 
    padding-left: 10px;
}
#navBarRight{   
    position: relative;
    justify-content: flex-end;
    font-size: 75%;
    width: 50%;
    padding-right: 5px;
}
#navBarLinks{
    position: absolute;

    top:0;
    right: 100px;   
}
#navBarApps{
    position: absolute;

    top:0; 
    right: 60px;  
}
#navBarSignIn{
    position: absolute;

    top:0; 
    right: 5px;  

}

#logoDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
}

#inputDiv{
    display: flex;
    text-align: center;
    padding: 10x;
    width: 50%;    
    justify-content: center;
    flex-direction: column;
 
    margin: auto;
    
}

#searchText{
    
    flex: 100%;

    flex-direction: column;
    padding: 5px;   
    
}

#searchBtns{
  
    padding: 5px;
    text-align: center;

    
}

