
#headerDiv{
    display: flex;
    border: slategray;
    border-style:solid;
}
#navBarLeft{
    display: flex;
    justify-content: flex-start;
    font-size: 75%;
    width: 50%;  
    padding-left: 10px;
}
#navBarRight{   
  position: relative;
    font-size: 75%;
    width: 50%;
    padding-right: 5px;
    background-color: coral;
    
}

#navBarLinks{
    position: absolute;
    background-color: blue;
    top:0;
    right: 70px;   
}
#navBarApps{
    position: absolute;
    background-color: red;
    top:0; 
    right: 60px;  
}
#navBarSignIn{
    position: absolute;
    background-color: green;
    top:0; 
    right: 5px;  

}

#logoDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
}

#inputDiv{
    display: flex;
    padding: 10px;
    width: auto;    
    justify-content: center;
    display: flex;
    flex-direction: column;
}

#searchText{
    min-width: fit-content;
    text-align: center;

    padding: 5px;

    
    
}

#searchBtns{
  

    padding: 5px;
    text-align: center;
    
}
